<nav *ngIf="loggedInUser" class="container-fluid">
  <div class="row px-2">
    <div class="col">
      <button class="btn anchor font-weight-bold home" routerLink="/home">PRS</button>
      <ng-container *ngFor="let mi of menuItems">
        <div class="li" *ngIf="!(!loggedInUser.reviewer && mi.display=='Review') " title="{{ mi.tooltip }}">
          <button class="btn anchor" routerLink="{{ mi.href }}">{{ mi.display }}</button>
        </div>
      </ng-container>
    </div>
    <div class="col my-auto">
      <button class="btn btn-danger float-right" (click)="logout()">Logout</button>
      <div class="float-right user">{{loggedInUser.firstName}} {{loggedInUser.lastName}}</div>
    </div>
  </div>
</nav>