nav {
	width:100%;
	background-color: #454545;
	padding: 10px 0;
}
.li {
	display: inline-block;
	text-align:center;
	vertical-align: middle;
}
.anchor {
	color: white;
	text-decoration: none;
}

.anchor:hover {
	background-color: black;
}

.user {
	color: white;
	padding: 7px 10px;
}

.home {
	font-size: 1.5rem;
}